cpus = 4 //Runtime.getRuntime().availableProcessors() - 1
// path to data
resourceDir = "/Users/jianhongou/s3/igenome/UCSC"

// docker
process.container = 'jianhong/atacseqpipe:latest'
dockerMemory = '16G'
dockerCPUs = "${cpus}"
dockerGenome = "${resourceDir}"
docker {
  enabled = true
  temp = 'auto'
  runOptions = "--memory-reservation ${dockerMemory} --cpus ${dockerCPUs} --volume ${resourceDir}:${dockerGenome}"
}
singularity {
  enabled = false
  runOptions = "--bind ${resourceDir}:${dockerGenome}"
}
    
params {
    verbose = true
    cpus = "${cpus}"

    species = 'hg38'
    outdir = 'results'
    prefix = 'bwa'
    postfix = 'fastq.gz'
    surname = 'atacseq'
    singleEnd = true

    // path to genome to use
    params.genome = "${dockerGenome}/${species}/Sequence/WholeGenomeFasta/genome.fa"
    // path to indices to use
    params.indexBowtie2 = "${dockerGenome}/${species}/Sequence/Bowtie2Index/genome"
    
    // threads / CPU usage
    fastqc {
        cpus = "${cpus}"
        path = "fastqc"
    }
    
    // Configuration for trim_galore.
    trim_galore {
        path = "trim_galore"
    }
    
    // Configuration of BWA mapping (includes piped samtools called)
    bwa {
        cpus = "${cpus}"
        path = "bwa"
        index = "${dockerGenome}/${species}/Sequence/BWAIndex/genome.fa"
    }
    
    // Configuration of samtools 
    samtools {
        path = "samtools"
    }
    
    // Configuration of blastn 
    blastn {
        cpus = "${cpus}"
        path = "blastn"
        numOfLine = 100000
        mismatch = 2
    }
    
    // Configuration of macs2 
    macs2 {
        cpus = "${cpus}"
        path = "macs2"
        genome = "hs"
    }
    
    // Configuration of bedGraphToBigWig 
    bedGraphToBigWig {
        cpus = "${cpus}"
        path = "bedGraphToBigWig"
    }
    
    // Configuration of R 
    R {
        cpus = "${cpus}"
        path = "R"
        TxDb = "TxDb.Hsapiens.UCSC.hg38.knownGene"
        BSgenome = "BSgenome.Hsapiens.UCSC.hg38"
    }
}
